section,
header {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: TrasandinaBlack;
  src: url("../fuente/TrasandinaBlack.otf");
}
@font-face {
  font-family: TrasandinaBold;
  src: url("../fuente/TrasandinaBold.otf");
}

@font-face {
  font-family: TrasandinaBook;
  src: url("../fuente/TrasandinaBook.otf");
}

@font-face {
  font-family: TrasandinaMedium;
  src: url("../fuente/TrasandinaMedium.otf");
}

h1 {
  text-align: center;
  color: #53aae0;
  font-family: TrasandinaBlack;
  margin-bottom: 40px;
  margin-top: 25px;
  font-size: 32px;
  letter-spacing: 5px;
}

h2 {
  text-align: left;
  font-family: TrasandinaBook;
  font-size: 16px;
  color: #edf0f5;
  margin-left: 10px;
}

h4 {
  text-align: center;
  font-family: TrasandinaBook;
  font-size: 20px;
  text-transform: uppercase;
}

#inicio {
  width: auto;
  height: auto;
}

#titulo {
  width: 100%;
  height: 54px;
}

#principal {
  width: 400px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
}

#titulo,
#principal {
  margin-bottom: 150px;
}

#izq {
  margin-left: auto;
  margin-right: auto;
}

#der,
#mon,
#imp {
  float: left;
  margin-right: 50px;
}

#izq,
#der,
#mon,
#imp {
  margin-bottom: 20px;
}

.but1 {
  width: 400px;
  height: 100px;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.but2 {
  width: 400px;
  height: 100px;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

/* .but2:hover{
	display: none;
	transition-delay:inherit;
} */

.but3 {
  width: 190px;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.but4 {
  width: 190px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.button {
  text-decoration: none;
  color: #29343e;
  font-size: 30px;
  font-family: TrasandinaBook;
  background-color: #dbe5e9;
  border-color: #f7fbfd;
}

.button:hover {
  background-color: #f7fbfd;
  color: #29343e;
  transition-property: background-color, #f7fbfd;
  transition-duration: 1s;
  transition-delay: 0s;
}

#principal,
#volver {
  margin-bottom: 40px;
}

#volver {
  width: 150px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}

#vlv {
  width: 150px;
  height: 45px;
  background-color: #1c7cd5;
  border-color: #f7fbfd;
  font-size: 20px;
  font-family: TrasandinaBook;
  border-radius: 20px;
}
#vlv:hover {
  background-color: #176ab5;
}

.fila {
  text-align: left;
}

#der {
  display: block;
  transition-duration: 1s;
  transition-delay: 0s;
}

#contenedorinv {
  display: none;
  transition-duration: 1s;
  transition-delay: 0s;
}

#foto{
  width: 100px;
  height: 80px;

  background-image: url("../imagenes/logoObrasPúblicas.png");
  background-repeat: no-repeat;
  background-size: 140%;
cursor: default;
}

.espacio{
  margin-left: 20px;
}

.link{
  color: #53AAE0 !important;
  font-size: 20px;
}

.link{
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
.link:hover, .link:focus {
  background-size: 100% 2px;
}

.altura{
  height: 80px;
}

.ubicacion{
  width: 30px;
margin-left: 15px;
  margin-top: 8px;
  text-align: center;
}

i{
  color: #53AAE0;
}

h5{
  font-size: 12px;
  color: #53AAE0;
}

#botonera{
width: 100%;
height: 60px;
background-color: #1c7cd5;
float: left;
font-weight: bold;
border-radius: 20px;
transition-duration: 0.5s;
transition-delay: 0s;
}

.nav li a{
color: black;
display: block;
} 

.nav > li{
float: left;
}

.nav li ul{
display: none;
position: absolute;
}

.nav li:hover >ul{
display: block;
}

footer{
  height: auto;
	border-top: 1px solid #53AAE0;
}

.footer{
	margin: 0 auto;
	
	width: 400px;
}

.mensaje{
	background-color: #edf0f5;
	border: none;
}

.contenedor, .contenedor1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.grafico{
    border-radius: 10px;
    border: 1px solid #000000;
    margin-left: 20px;
    margin-bottom: 20px;
}

.informacion{
    border-radius: 10px;
    border: 1px solid #000000;
    margin-left: 20px;
    margin-bottom: 20px;
}

.grafico1{
  border-radius: 10px;
  border: 1px solid #000000;
  margin-left: 20px;
  margin-bottom: 20px;
}

.informacion1{
  border-radius: 10px;
  border: 1px solid #000000;
  margin-left: 20px;
  margin-bottom: 20px;
}

.contenedor2{
  display: flex;
  justify-content: space-evenly;
}

.grafico2{
  border-radius: 10px;
  border: 1px solid #000000;
  margin-left: 20px;
  margin-bottom: 20px;
}

.destacado{
	color: #f7fbfd !important;
	background-color: #00519C;
	border-top-right-radius: 5px;
}

.notif{
	margin-bottom: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.bi-bell{
	color: #176AB5;
}

/* DATOS COMIENZO */

.cards{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.cards p{
  color: black;
}
.cards-sup, .cards-inf{
  width: 100%;
  margin-bottom: 40px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards-sup-pri, .cards-sup-sec, .cards-sup-ter, .cards-inf-pri, .cards-inf-sec{
  width: 400px;
  height: 150px;

  background: #FFFFFF;
  background: -webkit-radial-gradient(center, #FFFFFF, #DBDBDB);
  background: -moz-radial-gradient(center, #FFFFFF, #DBDBDB);
  background: radial-gradient(ellipse at center, #FFFFFF, #DBDBDB);
  border: 2px solid #29343e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  transition: box-shadow 0.5s linear;
	border-radius: 5px;
	box-shadow:  21px 21px 55px #afafaf, -21px -21px 55px #ffffff;
}

.cards-sup-pri:hover, .cards-sup-sec:hover, .cards-sup-ter:hover, .cards-inf-pri:hover, .cards-inf-sec:hover{
	transition: box-shadow 0.3s linear;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
}

.cards-sup-pri-tit, .cards-inf-pri-tit, .cards-inf-sec-tit{
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.cards-sup-sec-tit, .cards-sup-ter-tit{
  width: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: left;

}

.cards-sup-pri-inf, .cards-inf-pri-inf, .cards-inf-sec-inf{
  font-size: 36px;
  font-weight: bold;
}
.cards-sup-sec-inf, .cards-sup-ter-inf{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* PORCENTAJE */

.cards-bajo{
  width: 1200px;
  height: auto;
  margin-top: 40px;

  border-top: 2px solid #29343e;
  border-bottom: 2px solid #29343e;
  background: #FFFFFF;
  background: -webkit-radial-gradient(center, #FFFFFF, #DBDBDB);
  background: -moz-radial-gradient(center, #FFFFFF, #DBDBDB);
  background: radial-gradient(ellipse at center, #FFFFFF, #DBDBDB);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-bajo-info{
  height: 60px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecerafiltro{
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: row;
}
.cabecerafiltro form label{
  color: #00519C;
  font-size: 24px;
  font-weight: bold;
}
.cabecerafiltro form{
  display: flex;
  gap: 20px;
}

.cabecera--periodo p{
  color: #00519C;
  font-size: 20px;
  font-weight: bold;
}