section, footer, header{
	width: 960px;
	margin-left: auto;
	margin-right: auto;

}

@font-face{
	font-family: TrasandinaBlack;
	src: url("../fuente/TrasandinaBlack.otf");
}
@font-face{
	font-family: TrasandinaBold; 
	src: url("../fuente/TrasandinaBold.otf");
	}

@font-face{
	font-family: TrasandinaBook; 
	src: url("../fuente/TrasandinaBook.otf");
	}

@font-face{
	font-family: TrasandinaMedium; 
	src: url("../fuente/TrasandinaMedium.otf");
	}	
	/*
	url("TrasandinaBold-Italic.otf"), 
	url("TrasandinaLight.otf"), url("TrasandinaMedium-Italic.otf"),
	url("TrasandinaRegular.otf"), url("TrasandinaRegular-Italic.otf"), 
	url("TrasandinaUltra.otf");*/

h1{
	text-align: center;	
	color: #53AAE0;
	font-family: TrasandinaBlack;
	font-size: 40px;
	letter-spacing: 5px;
}

h2{
	text-align: center;	
	color: #53AAE0;
	font-family: TrasandinaMedium;
	font-size: 28px;
}

h3{
	text-align: center;	
	margin-top: 10px;
	font-size: 20px;
	color: #f7fbfd;
	font-family: TrasandinaBold;
}

h4{
	text-align: center;	
	margin-top: 10px;
	font-size: 16px;
	color: #f7fbfd;
	font-family: TrasandinaBold;
}

header{
	height: 160px;
}

#titulo{
	height: 40px;
}

#ingreso{
	height: 300px;
	position: static;
}

#sistemas{
	height: 80px;
	width: 380px;
	float: left;
}

#ingresar{
	height: 250px;
	width: 320px;
	float: right;
	background-color: #1c7cd5;
	border-radius: 10px;
}

input{
	width: 300px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: block;
	box-sizing: border-box;
	border-radius: 10px;
	border-color: white;
	background-color: #f7fbfd;
}

::placeholder { 
	color: #899dac; 
}

.button{
	color: #f7fbfd;
	font-size: 20px;
	font-family: TrasandinaBook;
	background-color: #53AAE0;
	border-color: #f7fbfd;
	cursor: pointer;
}

.button:hover{
	background-color: #f7fbfd;
	color: #53AAE0;
	transition-property: background-color, #f7fbfd;
	transition-duration: 1s;
	transition-delay: 0s;
}

footer{
	height: 150px;
}

#logo{
	width: 300px;
	height: 200px;
	float: left;
}
#logo img{
	width: 100%;
  height: auto;
}

#logogob{
	height: 60px;
	float: right;
}

#logogob 	img{
  width: 300px;
  height: 80px;
}

.enlaces{
	color: #f7fbfd;
}

#resetpwd{
	margin-top: 10px;
	margin-left: 28%;
	margin-right: auto;
}