section, header{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

header{
	height: 60px;
/* 	background-color: #00519C; */
}

@font-face{
	font-family: TrasandinaBlack;
	src: url("../fuente/TrasandinaBlack.otf");
}
@font-face{
	font-family: TrasandinaBold; 
	src: url("../fuente/TrasandinaBold.otf");
	}

@font-face{
	font-family: TrasandinaBook; 
	src: url("../fuente/TrasandinaBook.otf");
	}

@font-face{
	font-family: TrasandinaMedium; 
	src: url("../fuente/TrasandinaMedium.otf");
	}	

h1{
	text-align: center;	
	color: #53AAE0;
	font-family: TrasandinaBlack;
	font-size: 32px;
	letter-spacing: 5px;
}

h2{
	text-align: left;	
	font-family: TrasandinaBook;
	font-size: 16px;
	color: #edf0f5;
	margin-left: 10px;
}

h3{
	text-align: center;	
	color: #f7fbfd;
	font-family: TrasandinaBlack;
	font-size: 17px;
	letter-spacing: 2px;
}

#fila{
	                  
	font-size: 20px;
	}

h4{
	text-align: center;	
	font-family: TrasandinaBook;
	font-size: 14px;
	text-transform: uppercase;
}

p{
	text-align: center;
	font-family: TrasandinaMedium;
	color: #00519C;
	font-size: 18px;
}
#contador p{
	text-align: left;
	margin-left: 20px;
}

#consulta{
	width: auto;
}

#titulo{
	width: auto;
	height: 80px;
	margin-bottom: 20px;
}

#titulo h1{
	margin-top: 40px;
}

#filtro{
	height: auto;
	width: 98%;
	border-top: 1px solid #53AAE0;

}

#contador{
	height: 70px;
	width: 20%;
	margin-top: 40px;
}

#contador p{
	color: #53AAE0;
}

#mostrar_incidentes{
	height: auto;
	width: 99%;
	float: left;
	margin-top: 20px;
}

#filtro, #mostrar_incidentes{
	margin-top: 10px;
}

input {
	width: 320px;
	margin: 10px;
	margin-top: 10px;
	margin-left: 10px;
	display: inline;
	box-sizing: border-box;
	border-radius: 10px;
	border-color: white;
}

input:hover{
	border-color:#29343e;
	transition-delay: 0.1s;
}

.largo{
	width: 550px;
}

label{
	text-align: left;
	margin-left: 30px;
	font-size: 20px;
	color: #f7fbfd;
	font-family: TrasandinaBook;
}

label .fecha{
	text-align: left;
	margin-left: 0px;
	font-size: 20px;
	color: #f7fbfd;
	font-family: TrasandinaBook;
}

::placeholder { 
	color: black; 
}

.button{
	color: #f7fbfd;
	font-size: 20px;
	font-family: TrasandinaBook;
	background-color: #53AAE0;
	border-color: #f7fbfd;
	cursor: pointer;
	width: 160px;
	margin-bottom: 10px;
}

.button:hover{
	background-color: #f7fbfd;
	color: #53AAE0;
	transition-property: background-color, #f7fbfd;
	transition-duration: 1s;
	transition-delay: 0s;
}

.button1{
	color: #f7fbfd;
	font-size: 20px;
	float: right;
	font-family: TrasandinaBook;
	background-color: #53AAE0;
	border-color: #f7fbfd;
	cursor: pointer;
	width: 250px;
	margin-bottom: 10px;
}

.button1:hover{
	background-color: #f7fbfd;
	color: #53AAE0;
	transition-property: background-color, #f7fbfd;
	transition-duration: 1s;
	transition-delay: 0s;
}

#botonera{
	width: 100%;
	height: 60px;
	background-color: #1c7cd5;
	float: left;
	font-weight: bold;
	border-radius: 20px;
	transition-duration: 0.5s;
	transition-delay: 0s;
}

.nav li a{
	color: black;
	display: block;
} 

.nav > li{
	float: left;
}

.nav li ul{
	display: none;
	position: absolute;
}

.nav li:hover >ul{
	display: block;
}

/*///////////////////BOTONERA DESPLEGABLE///////////////////*/

/*///////////////////FIN BOTONERA DESPLEGABLE///////////////////*/

.lista{
	background-color: #1c7cd5;
}

.estilo{
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
}

table{
	text-align: left;
	margin-left: 5px;
 	background-color: #dbe5e9;

	border-collapse: collapse;
	width:100%;
}

th, td{
	border: solid 1px #f7fbfd;
	border-bottom: solid 1px #073256;
}

thead{
	background-color: #dbe5e9;
	border-bottom: solid 5px #073256;
	width: 100%;
}/*ACA ESTABA EL PROBLEMA DEL ACOMODAMIENTO EN "VER PENDIENTES" Y "VER" QUE SE ACHICABA EL TABLE*/

tr:nth-child(even){
	background-color: #edf0f5;
}

tr:hover td{
	background-color: #D6D6D6;
}

#foto{
    width: 100px;
    height: 80px;

    background-image: url("../imagenes/logoObrasPúblicas.png");
    background-repeat: no-repeat;
    background-size: 140%;
	cursor: default;
}

.espacio{
    margin-left: 20px;
}

.link{
    color: #53AAE0 !important;
    font-size: 20px;
}

.link{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.link:hover, .link:focus {
    background-size: 100% 2px;
}

.altura{
    height: 80px;
}

.ubicacion{
    width: 30px;
	margin-left: 15px;
    margin-top: 8px;
    text-align: center;
}

i{
    color: #53AAE0;
}

h5{
    font-size: 12px;
    color: #53AAE0;
}

.color{
    border-bottom: groove 1px #f7fbfd;
	border-radius: 10px;
	height: 32px;
}

.izquierda{
	border-top-left-radius: 20px
}

.derecha{
	border-top-right-radius: 20px;
}
.mod{
	color: #00519C;
}

#paginador{
	float: left;
	margin-top: 50px;
	margin-left: 30px;
}

#vlv{
	width: 100%; 
	height: 45px; 
	background-color: #176AB5; 
	border-color: #f7fbfd; 
	font-size: 20px; 
	font-family: TrasandinaBook;
    border-radius: 20px;
}
#vlv:hover{
background-color: #f7fbfd;
border-color: #176AB5;
color: #176AB5;
}

#vlva{
	width: 10%; 
	height: 45px; 
	background-color: #176AB5; 
	border-color: #f7fbfd; 
	font-size: 20px; 
	font-family: TrasandinaBook;
    border-radius: 20px;
}

#vlva:hover{
background-color: #f7fbfd;
border-color: #176AB5;
color: #176AB5;
}

#vlva1{
	width: 12%; 
	height: 45px; 
	background-color: #176AB5; 
	border-color: #f7fbfd; 
	font-size: 20px; 
	font-family: TrasandinaBook;
    border-radius: 20px;
}
#vlva1:hover{
background-color: #f7fbfd;
border-color: #176AB5;
color: #176AB5;
}

*::-webkit-scrollbar {
	width: 12px;
  }
  
  *::-webkit-scrollbar-track {
	background: rgb(187, 183, 177);
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: rgb(49, 49, 49);
	border-radius: 20px;
	border: 3px solid rgb(187, 183, 177);
  }

.mensaje{
	background-color: #edf0f5;
	border: none;
}

.destacado{
	color: #f7fbfd !important;
	background-color: #00519C;
	border-top-right-radius: 5px;
}

.pagination{
	justify-content: center;
}

/* .page-link:hover{
	background-color: rgb(182, 180, 180);
} */

.notif{
	margin-bottom: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.bi-bell{
	color: #176AB5;
}

.contenedor{
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
}

.info{
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

.card{
	padding: 0px 0px 10px 0px;
	margin-bottom: 20px;
	margin: 10px;

	border: 1px solid rgba(0, 0, 0, 0.2);

	transition: box-shadow 0.5s linear;
	border-radius: 32px;
	background: #e0e0e0;
	box-shadow:  21px 21px 55px #afafaf,
				-21px -21px 55px #ffffff;
}

.card:hover{
	transition: box-shadow 0.3s linear;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
	
}

.tits{
	margin-top: 40px;
	margin-bottom: 40px;
}

.tits h1{
	font-size: 24px;
	text-decoration: underline;
}

.card-img-top{
	height: 200px;
	border-radius: 32 32 0px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 32px 32px 0px 0px;
}

.card-body{
	display: flex;
	justify-content: center;
}

.card-body-but{
	display: flex;
	flex-direction: column;
}

.card-body form{
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-body form input{
	background-color: transparent;
	border: none;
}

.card-body form input:focus{
	outline: none;
}

.btns-nro{
	font-size: 34px;
}

.card-body form input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.inp{
	width: 30%;
	margin-left: 50px;

	display: flex;
	justify-content:center;
	font-size: 34px;
	color: #00519C;
	font-family: TrasandinaMedium;
}

.btns-men, .btns-nro, .btns-mas{
	margin: 10px;
}

.btns-men, .btns-nro, .btns-mas{
	color: #00519C;
	font-weight: bold;
}

.btns-men, .btns-mas{
	width: 40PX;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #00519C;
}

.btns-men:active, .btns-mas:active{
	transform: scale(0.96);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btns-men:hover, .btns-mas:hover{
	background-color: #00519C;
	color: white;
}

.card-conf{
	display: flex;
	justify-content: center;
}

.conf{
	color: #00519C;
	font-weight: bold;
	width: 140px;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #00519C;
}

.conf:active{
	transform: scale(0.96);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.conf:hover{
	background-color: #00519C;
	color: white;
}

footer{
	margin-top: 40px;
	height: auto;
	  border-top: 1px solid #53AAE0;
  }
  
.footer{
	margin: 0 auto;
  
	width: 400px;
  height: auto;
}
