section,
header {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 60px;
}

@font-face {
  font-family: TrasandinaBlack;
  src: url("fuente/TrasandinaBlack.otf");
}
@font-face {
  font-family: TrasandinaBold;
  src: url("fuente/TrasandinaBold.otf");
}

@font-face {
  font-family: TrasandinaBook;
  src: url("fuente/TrasandinaBook.otf");
}

@font-face {
  font-family: TrasandinaMedium;
  src: url("fuente/TrasandinaMedium.otf");
}

h1 {
  text-align: center;
  color: #53aae0;
  font-family: TrasandinaBlack;
  margin-bottom: 40px;
  margin-top: 25px;
  font-size: 32px;
  letter-spacing: 5px;
}

h2 {
  text-align: left;
  font-family: TrasandinaBook;
  font-size: 16px;
  color: #edf0f5;
  margin-left: 10px;
}

h4 {
  text-align: center;
  font-family: TrasandinaBook;
  font-size: 14px;
  text-transform: uppercase;
}

.indicadores {
  font-family: TrasandinaBook;
  text-align: start;
  color: #53aae0;
  font-size: 18px;
  margin-bottom: 3px;
  margin-right: 70px;
}

.cabecera {
  color: #f7fbfd;
  text-align: center;
}

/*FRONT*/

#inicio {
  height: auto;
}

#titulo {
  width: 100%;
  height: 54px;
}

#principal {
  width: 75%;
  height: 150px;
  margin-top: 60px;
  background-color: #5c6f82;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

/*FRONT*/

#p {
  text-align: center;
  font-family: TrasandinaMedium;
  color: #f7fbfd;
  font-size: 18px;
}

input {
  height: 40px;
  width: auto;
  margin: 10px;
  margin-top: 0px;
  margin-left: 20px;
  padding: 10px;
  display: inline;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: white;
}

input:hover {
  border-color: #29343e;
  transition-delay: 0.1s;
}
select:hover {
  border-color: #29343e;
  transition-delay: 0.1s;
}
textarea:hover {
  border-color: #29343e;
  transition-delay: 0.1s;
}

select {
  width: 200px;
  margin: 30px;
  margin-top: 8px;
  margin-left: 20px;
  padding: 10px;
  display: inline;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: white;
}

textarea {
  width: 1280px;
  margin: 30px;
  margin-top: 5px;
  margin-left: 20px;
  padding: 10px;
  display: inline;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: white;
}

label {
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
  color: #f7fbfd;
  font-family: TrasandinaBook;
}

#lblForm {
  font-size: 23px;
}
input {
  background-color: white;
}

::placeholder {
  color: black;
}

.button {
  width: 200px;
  height: 50px;
  color: #f7fbfd;
  font-size: 20px;
  float: right;
  font-family: TrasandinaBook;
  background-color: #53aae0;
  border-color: #f7fbfd;
}

.button:hover {
  background-color: #f7fbfd;
  color: #53aae0;
  transition-property: background-color, #f7fbfd;
  transition-duration: 1s;
  transition-delay: 0s;
}

#botonera {
  width: 100%;
  height: 60px;
  background-color: #1c7cd5;
  float: left;
  font-weight: bold;
  border-radius: 20px;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#botonera ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#botonera ul li {
  display: block;
}

#botonera ul li a {
  display: inline-block;
  width: 280px;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 70px;
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-family: TrasandinaMedium;
}

#botonera ul li a:hover {
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
}

.nav li a {
  color: #ffffff;
  display: block;
}

.nav > li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  border-radius: 20px;
}

.nav li:hover > ul {
  display: block;
}

/*///////////////////BOTONERA DESPLEGABLE///////////////////*/
#botonera #sub li {
  width: 230px;
  height: 28px;
  margin-left: 150px;
  color: #edf0f5;
  text-decoration: none;
  font-family: TrasandinaMedium;
  background-color: #53aae0;
  display: block;
  border-bottom: groove 2px #ffffff;
  border-left: 8px solid #1c7cd5;
  border-right: 2px solid #1c7cd5;
  border-bottom-right-radius: 10px;
}

#botonera #sub li a {
  text-align: left;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 5px;
}

#botonera #sub li:hover {
  background-color: #edf0f5;
}

#botonera #sub li a:hover {
  font-size: 17px;
  color: #53aae0;
}
/*///////////////////FIN BOTONERA DESPLEGABLE///////////////////*/

.lista {
  background-color: #1c7cd5;
}

.estilo {
  font-size: 12px;
  text-align: left;
  color: #ffffff;
}

/* Capa*/
.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
}

/*Menù lateral*/
#btn-menu {
  display: none;
}

img {
  padding: 15px;
  height: 40%;
  width: 25%;
}

nav a img {
  height: 5%;
  width: 5%;
}

.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 350px;
  background: #073256;
  height: 120vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
  border-radius: 10px;
}
#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 8px;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
}

/*Fin de Menù lateral*/

#foto {
  width: 190px;
  height: 110px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #f7fbfd;
  background-image: url("imagenes/logoObrasPúblicas.png");
  background-repeat: no-repeat;
  background-size: 140%;
  border-radius: 10px;
}
.color {
  border-bottom: groove 1px #f7fbfd;
  border-radius: 10px;
  height: 32px;
}

.archivo {
  width: 120px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////RESPONSIVE/////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////*/

.filtros {
  width: 40%;
  height: auto;
  margin-top: 40px;
  background-color: #5c6f82;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition-delay: 0s;
  display: none;
}

#vlv {
  width: 120px;
  height: 45px;
  background-color: #1c7cd5;
  border-color: #f7fbfd;
  font-size: 20px;
  font-family: TrasandinaBook;
  border-radius: 20px;
}
#vlv:hover {
  background-color: #176ab5;
}

h1 {
  text-align: center;
  color: #53aae0;
  font-family: TrasandinaBlack;
  font-size: 32px;
  letter-spacing: 5px;
}

h2 {
  text-align: left;
  font-family: TrasandinaBook;
  font-size: 16px;
  color: #edf0f5;
  margin-left: 10px;
}

#h2 {
  text-align: left;
  font-family: TrasandinaBook;
  font-size: 16px;
  color: #edf0f5;
  margin-left: 10px;
  margin-top: 5px;
}

.filas {
  font-size: 18px;
}

#boxrepart {
  background-color: #5c6f82;
  width: 800px;
  height: 65px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 30px;
}

#slcrepart {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#botonera {
  background-color: #5c6f82;
  width: 135px;
  height: 65px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 30px;
  padding-right: 5px;
}
